*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
/* ------------------ */
body {
  font-family: "Raleway";
  font-size: 12px; /* розмір шрифту по замовчуванню - саме більше де застосовується */
  color: #616161; /* колір шрифту по замовчуванню - саме більше де застосовується */
}
/* --------------------*/
.wrapper {
  /* overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%; */
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* ------------------ */

.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}
.header__logo {
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
  color: #000;
}
.header__menu {
  flex: 1 1 auto;
  display: flex;
}
.menu {
  display: flex;
  justify-content: center;
  /* padding: 0px 40px 0px 0px; */
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0px 40px 0px 0px;
}
.menu__link {
  /* font-family: "Roboto Mono", sans-serif; */
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
  text-decoration: none;
}

.menu__link:hover {
  color: rgb(215, 35, 215);
}

.button {
  display: block;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 12px;
  letter-spacing: 1px;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 22px;
  background-color: #000;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: rgb(215, 35, 215);
}

/* --------------------*/

.hero {
  margin: 24px 0;
}

.hero__container {
  display: flex;
  /* gap: 60px; */
  gap: 4rem; /* 16 * 4 = 64px */
}

.hero__textblock {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* padding: 18px 8px; */
  padding: 1rem 0.5rem;
}

.textblock-hero__title {
  font-size: 46px;
  font-weight: 800;
  color: #000;
}

.textblock-hero__title span {
  color: rgb(215, 35, 215);
}

.textblock-hero__subtitle {
  font-size: 18px;
  flex: 1 1 auto;
}

.textblock-hero__button {
  min-width: 176px;
  margin: 0 auto;
}

.hero__image {
  flex: 0 1 50%;
}

.hero__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

/* --------------------*/

.brands {
  margin: 44px auto;
  /* background: rgb(240, 246, 249); */
}

.brands__title {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: #000;
}

.brands__list {
  margin: 22px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.brands__item {
}

/* --------------------*/

.mentors {
  margin: 44px auto;
}

.mentors__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.mentors__container .button {
  min-width: 176px;
  margin: 0 auto;
}

.mentors__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #000;
}

.mentors__subtitle {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

.mentors__list {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mentors__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #e1e1e3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02), 0 6px 30px 2px rgba(0, 0, 0, 0.06);
  border-radius: 28px;
  transition: transform 0.2s;
}

.mentors__item:hover {
  transform: scale(1.01);
}

.mentor__image {
  width: 100%;
  max-height: 50vh;
  /* height: 16.688rem; */
}

.mentor__image img {
  width: 100%;
  height: 100%;
  border-radius: 28px;
  object-fit: cover;
  object-position: bottom;
}

.mentor__info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 5px 20px;
}

.mentor__name {
  /* margin: 10px 0; */
  font-size: 18px;
  color: #000;
}

.mentor__status {
  display: flex;
  gap: 0.6rem;
}

.mentor__job {
  font-size: 14px;
}

.status-mentor__mentorship {
  font-size: 14px;
}

.status-mentor__classes {
  font-size: 14px;
}

/* --------------------*/

.benefits {
  margin: 24px auto;
}

.benefits__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.benefits__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #000;
}

.benefits__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.blocks-benefits__content-block {
  padding: 18px;
}

.content-block-benefits {
  display: flex;
  flex: 0 1 50%;
  gap: 3rem;
}

.content-block-benefits__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}

.text-content-block-benefits__title {
  font-size: 26px;
  font-weight: 500;
  color: #000;
}

.text-content-block-benefits__paragraph {
  font-size: 14px;
  font-weight: 300;
}

.content-block-benefits__image {
  width: 50%;
  /* height: 50%; */
  height: 60vh;
}

.content-block-benefits__image img {
  display: block;
  width: 100%;
  height: 100%;
  /* height: 300px; */
  object-fit: cover;
  object-position: bottom;
  border-radius: 18px;
}

/* --------------------*/

.categories {
}

.categories__container {
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.categories__item {
  background-color: #f5f5f5;
  border-radius: 24px;
  padding: 15px 30px;
  font-size: 18px;
  color: #000;
  border: 1px solid transparent;
  transition: all 0.18s ease;
}

.categories__item:hover {
  transform: scale(1.01);
}

/* --------------------*/

.reviews {
  /* margin: 58px auto; */
  margin: 24px auto;
  /* padding: 24px 0 46px 0; */
  /* background-color: #000; */
  background-color: #fff;
  /* background-color: #f9fafa; */
}

.reviews__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.reviews__title {
  /* margin: 14px 12px; */
  text-align: center;
  line-height: 1.3;
  padding: 0px 24px;
  font-size: 42px;
  font-weight: 700;
  /* color: #fff; */
  color: #000;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.reviews__item {
  flex: 0 1 33%;
  /* background-color: #fff; */
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  padding: 12px 8px;
  border-radius: 12%;
  border-radius: 18px;
}

.author-data-item-reviews__person {
  display: flex;
  gap: 1.5rem;
}

.author-data-item-reviews__image {
  width: 15%;
}

.author-data-item-reviews__image img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.author-data-item-reviews__about {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-author-data-item-reviews__name {
  color: #000;
}

.item-reviews__text {
  padding: 12px 0 0 0;
}
/* --------------------*/

.courses {
  margin: 24px auto;
}

.courses__text-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.courses__title {
  text-align: center;
  line-height: 1.3;
  padding: 0px 24px;
  font-size: 42px;
  font-weight: 700;
  /* color: #fff; */
  color: #000;
}

.courses__subtitle {
  padding: 0 0 24px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.courses__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.4rem;

  /* display: flex;
  flex-wrap: wrap;
  gap: 2rem; */
}

.courses__nav {
  display: block;
  text-decoration: none;
  color: #616161;
}

.courses__item {
  transition: transform 0.2s;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.courses__item:hover {
  transform: scale(1.01);
}

.info-item-courses-text {
  margin: 6px auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-item-courses-text__name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.item-courses__info {
  padding: 2px 4px;
}

.item-courses__details {
  margin: 6px auto;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.details-item-courses__level span {
  background-color: rgb(215, 35, 215);
  color: #fff;
  border-radius: 18px;
  text-align: center;
  padding: 2px 4px;
}

.item-courses__image img {
  width: 100%;
  height: 35vh;
  /* object-fit: cover; */
  /*   object-position: bottom; */
  border-radius: 18px;
}

.button__courses {
  margin: 24px auto;
}

/* --------------------*/

.footer {
  /* margin: auto; */

  padding: 44px 0;
  background-color: #000;
  color: #fff;
}

/* .footer__container {
  display: flex;
  flex-wrap: wrap;
} */

.footer__row {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer__content {
  padding: 24px 0 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 16px;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* --------------------*/
/* --------------------*/
/* --------------------*/
/* --------------------*/
/* --------------------*/
/* --------------------*/
/* --------------------*/
/* --------------------*/
/* --------------------*/
/* --------------------*/
